{% extends "base.html" %}
{% block title %}Start page{% endblock %}

{% block content %}
    {% if blog_list %}
        {% for post in blog_list %}
            <h3><a href="{% url 'blog:blog_detail' pk=post.id %}">{{ post.topic }}</a></h3>
            <p>Author: {{ post.author }}</p>
            <p>Created: {{ post.created }}</p>
            <br>
        {% endfor %}

        {% block paginator %}
        {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
        {% endblock %}

    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}

