{% extends "base.html" %}
{% block title %}Conference detail{% endblock %}

{% block content %}
    <h2>Conference details</h2>
    <br>

    {% if conference %}

        <h2>{{ conference.name }}</h2>
        <br>
        <p>Starts at: {{ conference.start_date }}</p>
        <p>Ends at: {{ conference.end_date }}</p>
        <p><a href="{% url 'conference:sponsor_list' pk=conference.id%}">Sponsors</a></p>
        <p><a href="{% url 'conference:speaker_list' pk=conference.id%}">Speakers</a></p>
        <br>
        <p>{{ conference.description }}</p>
    {% else %}
            <p>Conference is not available</p>
    {% endif %}

    <br>
    <h2>Listeners</h2>
    {% if listener_list %}
        {% for listener in listener_list %}
            <p>{{ listener }}</p>
        {% endfor %}
    {% else %}
        <p>List of listeners is not available now.</p>
    {% endif %}
{% endblock %}