{% extends "base.html" %}
{% block title %}User profile{% endblock %}

{% block content %}
    <h1>My profile</h1>
    {% if group.name = 'listener' %}
        <p><b><a href="{% url 'conference:user_update' pk=user.id %}">update</a></b></p>
    {% elif group.name = 'company' or group.name = 'admin' %}
        <p>
        <b>
            <a href="{% url 'conference:user_update' pk=user.id %}">update</a>
            <a href="{% url 'conference:chose_speaker' pk=user.id %}">chose speaker</a>
            <a href="{% url 'conference:chose_representative' pk=user.id %}">chose representative</a>
        </b>
    </p>
    {% endif %}

    <p>{{ user.username }}</p>
    <p>{{ user.name }}</p>
    <p><img src="{{ user.image.url }}"></p>
    <p>{{ user.representative }}</p>
    <p>{{ group.name }}</p>

    <h2>My conferences</h2>

    {% if conference_list %}
        {% for conference in conference_list %}
            <ul>
                <li><p><b>{{ conference.name }}</b>, starts at: {{ conference.start_date }}</p></li>
            </ul>
        {% endfor %}
    {% else %}
        <p>No conferences are available.</p>
    {% endif %}
{% endblock %}

