<h1>My profile</h1>

{% if group.name = 'listener' %}
    <p><b><a href="{% url 'conference:user_update' pk=user.id %}">update</a></b></p>
{% elif group.name = 'company' %}
    <p><b><a href="{% url 'conference:company_update' pk=user.id %}">update</a></b></p>
{% endif %}

<p>{{ user.username }}</p>
<p>{{ user.name }}</p>
<p>{{ user.image }}</p>
<p>{{ user.company }}</p>
<p>{{ group.name }}</p>

<h2>My conferences</h2>
{% if conference_list %}
    {% for conference in conference_list %}
        <ul>
            <li><p><b>{{ conference.name }}</b>, starts at: {{ conference.start_date }}</p></li>
        </ul>
    {% endfor %}
{% else %}
    <p>No conferences are available.</p>
{% endif %}

<h2>My chat</h2>

<form action="{% url 'conference:user_detail' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="send" />
</form>

{% if message_list %}
    {% for message in message_list %}
        <ul>
            <li><p><b>From {{ message.sender.name }} to {{ message.recipient.name }}</b></p>
                <p>{{ message.created }}</p>
                <p>Conference: {{ message.conference }}</p>
                <p>{{ message.content }}</p>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>No messages are available.</p>
{% endif %}
